In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
os.chdir("D:\Training\Imarticus\PGA\PGA20\nLinearRegression")

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'D:\\Training\\Imarticus\\PGA\\PGA20\nLinearRegression'

In [10]:
os.chdir(r"D:\Training\Imarticus\PGA\PGA20\nLinearRegression")

In [15]:
os.listdir()

['car_done.csv', 'Car_sales.csv', 'Churn_Modelling.csv']

In [19]:
veh=pd.read_csv("car_done.csv")

In [20]:
veh

,Unnamed: 0,Manufacturer,Model,Sales_in_thousands,four_year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,02-02-2012,58.280150
1,1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,06-03-2011,91.370778
2,2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,01-04-2012,NaN
3,3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,03-10-2011,91.389779
4,4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-08-2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [22]:
veh.head(6)

,Unnamed: 0,Manufacturer,Model,Sales_in_thousands,four_year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,02-02-2012,58.280150
1,1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,06-03-2011,91.370778
2,2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,01-04-2012,NaN
3,3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,03-10-2011,91.389779
4,4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10-08-2011,62.777639
5,5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,08-09-2011,84.565105

In [23]:
veh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              157 non-null    int64
 1   Manufacturer            157 non-null    object
 2   Model                   157 non-null    object
 3   Sales_in_thousands      157 non-null    float64
 4   four_year_resale_value  121 non-null    float64
 5   Vehicle_type            157 non-null    object
 6   Price_in_thousands      155 non-null    float64
 7   Engine_size             156 non-null    float64
 8   Horsepower              156 non-null    float64
 9   Wheelbase               156 non-null    float64
 10  Width                   156 non-null    float64
 11  Length                  156 non-null    float64
 12  Curb weight             155 non-null    float64
 13  Fuel_capacity           156 non-null    float64
 14  Fuel_efficiency         154 non-null    float64
 15  Latest_Launch           157 non-null    object
 16  Power_perf_factor       155 non-null    float64
dtypes: float64(12), int64(1), object(4)
memory usage: 21.0+ KB

In [25]:
veh.dtypes.value_counts()

float64    12
object      4
int64       1
dtype: int64

In [26]:
veh["Manufacturer"].value_counts()

Dodge         11
Ford          11
Toyota         9
Chevrolet      9
Mercedes-B     9
Mitsubishi     7
Nissan         7
Chrysler       7
Volvo          6
Oldsmobile     6
Lexus          6
Mercury        6
Pontiac        6
Volkswagen     6
Saturn         5
Cadillac       5
Honda          5
Plymouth       4
Acura          4
Buick          4
Audi           3
Jeep           3
Porsche        3
Hyundai        3
BMW            3
Lincoln        3
Saab           2
Subaru         2
Jaguar         1
Infiniti       1
Name: Manufacturer, dtype: int64

In [27]:
veh["Manufacturer"].value_counts(normalize=True)

Dodge         0.070064
Ford          0.070064
Toyota        0.057325
Chevrolet     0.057325
Mercedes-B    0.057325
Mitsubishi    0.044586
Nissan        0.044586
Chrysler      0.044586
Volvo         0.038217
Oldsmobile    0.038217
Lexus         0.038217
Mercury       0.038217
Pontiac       0.038217
Volkswagen    0.038217
Saturn        0.031847
Cadillac      0.031847
Honda         0.031847
Plymouth      0.025478
Acura         0.025478
Buick         0.025478
Audi          0.019108
Jeep          0.019108
Porsche       0.019108
Hyundai       0.019108
BMW           0.019108
Lincoln       0.019108
Saab          0.012739
Subaru        0.012739
Jaguar        0.006369
Infiniti      0.006369
Name: Manufacturer, dtype: float64

In [28]:
veh["Manufacturer"].unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'Honda', 'Hyundai', 'Infiniti',
       'Jaguar', 'Jeep', 'Lexus', 'Lincoln', 'Mitsubishi', 'Mercury',
       'Mercedes-B', 'Nissan', 'Oldsmobile', 'Plymouth', 'Pontiac',
       'Porsche', 'Saab', 'Saturn', 'Subaru', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [29]:
veh["Manufacturer"].nunique()

30

In [30]:
veh.shape

(157, 17)

In [31]:
veh.drop(columns=["Manufacturer"], inplace=True)

In [32]:
veh["Model"].value_counts()

Neon          2
Integra       1
Cutlass       1
Sentra        1
Altima        1
             ..
Windstar      1
Expedition    1
Ranger        1
F-Series      1
S80           1
Name: Model, Length: 156, dtype: int64

In [34]:
veh.drop(["Model"], inplace=True, axis=1)

In [36]:
veh.dtypes[veh.dtypes=="object"].index

Index(['Vehicle_type', 'Latest_Launch'], dtype='object')

In [37]:
veh["Vehicle_type"].value_counts()

Passenger    116
Car           41
Name: Vehicle_type, dtype: int64

In [38]:
veh["Latest_Launch"].value_counts()

10-05-2012    2
1/24/2011     2
4/26/2011     2
6/25/2011     2
9/21/2011     2
             ..
08-07-2011    1
06-02-2012    1
10/31/2011    1
07-01-2012    1
10/20/2011    1
Name: Latest_Launch, Length: 130, dtype: int64

In [39]:
veh["date"]=pd.to_datetime(veh["Latest_Launch"])

In [40]:
veh.drop(["Latest_Launch"], inplace=True, axis=1)

In [41]:
veh

,Unnamed: 0,Sales_in_thousands,four_year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor,date
0,0,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150,2012-02-02
1,1,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778,2011-06-03
2,2,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,NaN,2012-01-04
3,3,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779,2011-03-10
4,4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639,2011-10-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,152,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,66.498812,2011-09-21
153,153,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,70.654495,2012-11-24
154,154,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,71.155978,2011-06-25
155,155,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,101.623357,2011-04-26
156,156,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,85.735655,2011-11-14